.git
.vscode
node_modules
**/node_modules
**/vendor
**/storage/logs
**/storage/framework/cache
**/storage/framework/sessions
**/storage/framework/views
**/.env
**/.env.local
**/.env.production
!**/.env.example
**/coverage
**/tests
frontend/dist
frontend/.vercel
